<%- include('partials/header') %>

<main>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="mb-5">Page not found</h2>
        <img class="mb-5" src="/images/site_resources/404.png" width="319" height="196" alt="Frustrated Michelin man">
        <p><a href="/">Return to home page</a></p>
      </div>
    </div>
  </div>
</main>

<%- include('partials/footer') %>