<link rel="stylesheet" href="/style/aboutUs.css">

<%- include('partials/header.ejs') %>
    <div class="we-are-block">
        <div id="about-us-section">
            <div class="about-us-image">
                <img src="/images/site_resources/restaurant01.jpg" width="808" height="458"
                    alt="Restaurant Stock Image">
            </div>
            <div class="about-us-info">
                <h2 id="pageHeaderTitle">ABOUT US</h2>
                <p>Welcome to TableTrek, your ultimate guide to discovering the finest Michelin-rated restaurants around
                    the world. At
                    TableTrek, we believe that dining is not just about satiating hunger; it's an exquisite journey that
                    delights the
                    senses. Our app is meticulously designed to be your trusted companion in exploring the culinary
                    wonders that
                    Michelin-starred establishments have to offer. </p>
                <a class="restaurant-info-button" href="/contact">Contact Us</a>
            </div>
        </div>
        <div id="restaurant-section">
            <div class="restaurant-image">
                <img src="/images/site_resources/restaurant02.jpg" width="951" height="471" alt="Plate Picture">
            </div>
            <div class="restaurant-info">
                <h2 id="pageHeaderTitle">Looking for a restaurant?</h2>
                <p>Discover exceptional dining experiences with TableTrek! Our extensive database of top-rated
                    restaurants, curated by
                    passionate food connoisseurs, allows you to effortlessly navigate through a realm of gastronomic
                    adventures. Empowering
                    you with comprehensive information, including expert reviews, menus, reservations, and exclusive
                    tips, TableTrek unlocks
                    a world of extraordinary flavors. Join us on this culinary expedition today!</p>
                <a class="restaurant-info-button" href="/filterRestaurants">Get Started</a>
            </div>
        </div>
    </div>
    <%- include('partials/footer.ejs') %>