
<!-- Include Nav Bar -->
<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="/style/contact.css">
    <!-- Contacy Us Header -->
    <div class="container-fluid contact-header">
        <div class="container">
            <div class="row">
                <h1 class="contact_title mb-3">Contact Us</h1>
            </div>
            <div class="row">
                <p>Need assistance? Get in touch with us with the form below.</p>
            </div>
        </div>
    </div>
    <!-- Contact Us Form -->
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-9 justify-content-center">
                <% if (message) { %>
                <div class="row justify-content-center">
                    <h5 class="message-header">
                    <div class="alert border border-warning text-center mb-0" role="alert">
                            <%= message %>
                        </div>
                    </h5>
                </div>
                <% } %>
                <%- include('partials/contactForm.ejs') %>
            </div>
        </div>
    </div>
    <!-- Include Footer -->
    <%- include('partials/footer.ejs') %>