<%- include('partials/header') %>
<div class="container">
    <div class="row mt-3">
        <div class="col">
            <h3>Previously viewed restaurants</h3>
            <div class="container-fluid">
                <% for (i=0; i < Math.min(restaurants.length, 15); i++) { %>
                <%- include('partials/restaurantCard.ejs', {restaurant: restaurants[i]}) %>
                <% } %>
                </div>
            </div>
        </div>
    </div>

<%- include('partials/footer') %>