<link rel="stylesheet" href="style/login.css" />

<%- include('partials/header.ejs') %>
<div class="container">
  <% if (locals.errorMsg) { %>
  <div class="alert alert-danger mb-5 mt-0" role="alert">
    <%= errorMsg %>
  </div>
  <% } %>
  <div class="row">
    <div class="col text-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 24 24">
        <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 22c-3.123 0-5.914-1.441-7.749-3.69.259-.588.783-.995 1.867-1.246 2.244-.518 4.459-.981 3.393-2.945-3.155-5.82-.899-9.119 2.489-9.119 3.322 0 5.634 3.177 2.489 9.119-1.035 1.952 1.1 2.416 3.393 2.945 1.082.25 1.61.655 1.871 1.241-1.836 2.253-4.628 3.695-7.753 3.695z" />
      </svg>
    </div>
  </div>
  <div class="row mt-4 mb-4">
    <div id="title" class="col text-center">
      <h1>Log in</h1>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <form action="/login" method="post">
        <div class="row mt-3">
          <div class="col">
            <div class="form-floating mb-3">
              <input type="email" name="email" class="form-control rounded-pill" id="email" placeholder="name@example.com" />
              <label for="email">Email</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-floating mb-3">
              <input type="password" name="password" class="form-control rounded-pill" id="password" placeholder="password" />
              <label for="password">Password</label>
            </div>
          </div>
        </div>
        <!-- <div class="row text-right me-1">
          <div class="col" id="passwordReset"><a href="/resetPassword">Forgot password?</a></div>
        </div> -->
        <div class="row text-center mt-3">
          <div class="col"><button class="btn btn-primary rounded-pill" id="submit" type="submit">Login</button></div>
        </div>
      </form>
      <div class="row">
        <div class="col">
          <div class="row text-center mt-5 border-top">
            <div class="col mt-5">
              <div id="extAuthMsg" class="mb-4">
                <p><strong>OR</strong></p>
              </div>
              <div id="extAuth"><a href="/auth/google"><button class="btn rounded-pill" id="extAuthBtn">Sign in with Google</button></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer.ejs') %>