    <h2>Please confirm the following to reset your password:</h2>

    <form action='/resetPasswordSubmit' method='POST'>
        <br>
        <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="email" class="form-control" name='email' aria-describedby="emailHelp"
                placeholder="Enter Email">
        </div>
        <br>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" name='password' placeholder="Password">
        </div>
        <div class="form-group">
            <label for="inputNewPasswordConfirm">New Password</label>
            <input type="password" class="form-control" name='newPassword' placeholder="New Password">
        </div>
        <div class="form-group">
            <label for="inputConfirmNewPassword">Confirm New Password</label>
            <input type="password" class="form-control" name='newPasswordConfirm' placeholder="Confirm New Password">
        </div>
        <br>
        <button type="submit" class="btn btn-primary" value='Submit'>Submit</button>
    </form>