<%- include('partials/header.ejs') %>

  <div class="container-fluid">
    <% if (locals.errorMsg) { %>
      <div class="alert alert-danger" role="alert">
        <%= errorMsg %>
      </div>
      <% } %>
        <div class="row mt-3">
          <div class="col">
            <div class="light">
              <div class="container py-2">
                <div class="h1 text-center text-dark" id="pageHeaderTitle">Search Results</div>
                <% for (i=0; i < Math.min(restaurants.length, 5); i++) { %>
                  <%- include('partials/restaurantCard.ejs', {restaurant: restaurants[i]}) %>
                    <% } %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="container-fluid">
              <div class="d-grid p-4">
                <a href="/" class="btn btn-primary btn-lg" type="button">Change Filter</a>
              </div>
            </div>
          </div>
        </div>
  </div>
  <%- include('partials/footer.ejs') %>