input#email,
input#password {
    padding-left: 15px !important;
}

#tab-login,
#tab-register {
    transition: all 0.5s ease-in-out;
}

#emailLabel,
#passwordLabel,
#registerPasswordLabel,
#registerEmailLabel,
#registerUsernameLabel {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.diplayLabel {
    opacity: 0 !important;
    transition: all 0.5s ease-in-out;
}

.extAuthBtn {
    background-color: #EA4335 !important;
    border-color: unset !important;
    color: #FFFFFF !important;
}

.extAuthBtn:hover {
    background-color: #f34e3f !important;
    transition: all 0.1s;
}