body {
    padding: 0px !important;
}

.contact-header {
    margin-top: 50px;
    padding: 100px 200px !important;
    background-color: #313344;
    /* color: #f5f2ea; */
}

.contact-header h1 {
    color: #ffffff;
}

.contact-header p {
    color: #9c9ca4;
}

.contact-title {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}