* {
    box-sizing: border-box;
}

button#submit {
    background-color: #272643!important;
    border: 0px;
    padding: 10px 20px 10px 20px;
    margin-right: auto!important;
    margin-left: auto!important;
    text-transform: uppercase;
}

label {
    text-transform: lowercase;
    margin-left: 10px;
}

#passwordReset a {
    color: #000000!important;
}

#title h1 {
    text-transform: uppercase;
    font-size: 1.2em!important;
    font-weight: 700!important;
}