.footer {
    background-color: #313344;
    padding: 0 !important;
}

.footer-link {
    color: #ffffff;
    text-decoration: none;
}

.footer-link:hover {
    background-color: #272643;
    color: #f5f2ea;
    transition: ease-in 0.2s;
}

.active-nav-item {
    background-color: #9c202a !important;
    color: #ffffff;
}

.active-nav-item:hover {
    background-color: #a6a5a7 !important;
}

.nav-item {
    --bs-nav-link-color: #ffffff;
    --bs-nav-link-hover-color: #b15248;
}