.navbar {
    background-color: #313344;
}

body {
    padding-top: 100px;
}

.offcanvas-header {
    padding-bottom: .5rem;
    border-bottom: 1px solid #e5e5e5;
    background-color: #313344;
    color: white;
}

.offcanvas-body {
    background-color: #f5f2ea;
    color: #313344;
}

/* .menu-link .active {
    color: #a6a5a7 !important;
} */


.menu-link {
    color: #313344 !important;
    text-decoration: none;
    margin-bottom: 15px;
}

.active-link {
    color: #9c202a !important;
}

.offcanvas-body .nav-link:hover {
    color: #a6a5a7 !important;
}

.offcanvas-backdrop.show {
    opacity: .5;
}

.fade.show {
    opacity: .5;
}