.navbar {
    background-color: #2c698d;
}

body {
    padding-top: 100px;
}

.offcanvas-header {
    padding-bottom: .5rem;
    border-bottom: 1px solid #e5e5e5;
    background-color: #bae8e8;
    color: white;
}

.offcanvas-body {
    background-color: #272643;
}

.active {
    color: #bae8e8 !important;
}

.offcanvas-body .nav-link {
    color: #272643;
}

.offcanvas-body .nav-link:hover {
    color: #bae8e8 !important;
}

.offcanvas-backdrop.show {
    opacity: .5;
}

.fade.show {
    opacity: .5;
}