* {
    box-sizing: border-box;
}

label {
    text-transform: lowercase;
    margin-left: 10px;
}


button#submit {
    background-color: #272643!important;
    border: 0px;
    padding: 10px 20px 10px 20px;
    margin-right: auto!important;
    margin-left: auto!important;
    text-transform: uppercase;
}

#title h1 {
    text-transform: uppercase;
    font-size: 1.2em!important;
    font-weight: 700!important;
}

#extAuthBtn {
    border: 2px solid #000000;
    text-transform: uppercase;
}

#extAuthBtn:hover {
    border: 2px solid #000000!important;
    color: #FFFFFF!important;
    background-color: #272643!important;
}

input#email, input#password, input#name {
    padding-left: 25px!important;
}