body {
  background-color: #222;
  background-image: url("https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExNmUxZTQ1MTcxOTVjZWQ2ZjNlNjA0MjI5YjgyOGM3OWU3MGIzZWNjNyZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PWc/pWhWtKdqwOAco/giphy.gif ");
  background-repeat: no-repeat;
  background-size: auto 100vh;
}

#gameCanvas, #mainScreen {
      border: 1px solid black;
      width: 300px;
      height: 300px;
      margin-right: auto;
      margin-left: auto;
      background-color: rgba(255, 255, 255, 0.7);
    }

    #introScreen {
      padding-top: 30%;
    }

    .button {
      width: 80px;
      height: 80px;
      padding-top: 27px;
      font-size: 16px;
    }
    
    .button, .startButton {
      border-radius: 10px;
      background-color: #e3f6f5;
      border: 1px solid #666666;
      display: inline-block;
      margin: 5px;
      cursor: pointer;
    }