<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<link rel="stylesheet" href="/style/mobileFooter.css">

<div class="container-fluid d-lg-none d-md-block mt-auto pt-5">
    <ul class="nav footer justify-content-around fixed-bottom nav-fill">
        <% mobileLinks.forEach((link)=> { %>
            <%- include ('mobileFooterLinks', {link: link}) %>
                <% }) %>
    </ul>
</div>